<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaoh.AndroidDemo2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".components.services.normal.NormalServiceTestActivity" />
        <activity android:name=".components.ComponentListActivity" />

        <service android:name=".components.services.normal.MyService" />

        <activity android:name=".widgets.follow_view.FollowViewTestActivity" />
        <activity android:name=".widgets.WidgetsListActivity" />
        <activity android:name=".protect_setting.ProtectSettingActivity"></activity>
    </application>

</manifest>