<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yaoh.AndroidDemo2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AndroidUtilsActivity"></activity>
        <activity android:name=".blur.BlurActivity" />
        <activity android:name=".anim.AnimActivity" />
        <activity android:name=".widgets.common_view.CommonWidgetActivity" />
        <activity android:name=".liveData.MVVMActivity" />
        <activity android:name=".webview.WebviewDemoActivity" />
        <activity android:name=".sqlite.AndroidSqliteActivity" />
        <activity android:name=".memory_leak.MemoryLeakActivity" />
        <activity android:name=".source_code.eventbus.EventBusActivity" />
        <activity android:name=".source_code.rxjava.RxJavaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".components.services.normal.NormalServiceTestActivity" />
        <activity android:name=".components.ComponentListActivity" />

        <service android:name=".components.services.normal.MyService" />

        <activity android:name=".widgets.follow_view.FollowViewTestActivity" />
        <activity android:name=".widgets.WidgetsListActivity" />
        <activity android:name=".protect_setting.ProtectSettingActivity" />
        <activity android:name=".widgets.mapview.MapViewTestActivity" />
        <activity android:name=".source_code.handler.HandlerActivity" />
        <activity android:name=".source_code.SoureCodeListActivity" />
        <activity android:name=".widgets.matrix.MatrixActivity" />
    </application>

</manifest>